body {
    background-color: #181818;
    margin: 0;
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif;
}

.navbar {
    position: relative;
    margin: 0;
    width: 100%;
    background-color: #252525;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    height: 3rem;
    z-index: 1000;
    cursor: pointer;
}

.navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.nav-links li {
    margin: 0 1.25rem;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    font-size: 1.25rem;
    color: #cfcfcf;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.125rem;
    bottom: -0.21875rem;
    left: 50%;
    background-color: #8844a8;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #8844a8;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3rem);
    position: relative;
}

.landing-content {
    cursor: default;
    text-align: center;
    color: #cfcfcf;
}

.landing-content img {
    height: 15.625rem;
}

.landing-content h1 {
    font-size: 2.8125rem;
    margin-bottom: 0;
}

.landing-content h1 b {
    filter: drop-shadow(0 0 0.2rem #cfcfcf);
}

.landing-content p {
    margin-top: 0;
    font-size: 1rem;
    font-style: italic;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    cursor: pointer;
}

.socials img {
    height: 2.5rem;
    margin: 0 0.4375rem;
    filter: invert(100%) sepia(0%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%);
    transition: filter 0.3s ease-in-out;
}

.socials img:hover {
    filter: invert(32%) sepia(68%) saturate(585%) hue-rotate(238deg) brightness(93%) contrast(94%);
}

.scroll {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.scroll p {
    font-family: "Ubuntu", system-ui;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0;
    transition: color 0.3s ease;
}

.scroll-down {
    cursor: pointer;
    background: none;
    border: none;
    margin-top: 0.625rem;
    padding: 0;
    outline: none;
    transition: filter 0.3s ease;
    color: #ffffff;
}

.scroll-down img {
    filter: invert(100%) sepia(0%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%);
    stroke-width: 2;
    transition: filter 0.3s ease;
    height: 1.5rem;
}

.scroll-down p {
    margin-bottom: 0;
}

.scroll-down:hover p {
    color: #8844a8;
}

.scroll-down:hover img {
    filter: invert(32%) sepia(68%) saturate(585%) hue-rotate(238deg) brightness(93%) contrast(94%);
}

.scroll-to-top {
    font-family: "Ubuntu", system-ui;
    font-weight: 700;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: none;
    border: none;
    padding: 0.625rem;
    outline: none;
    transition: filter 0.3s ease;
    cursor: pointer;
}

.scroll-to-top img {
    filter: invert(100%) sepia(0%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%);
    stroke-width: 2;
    transition: filter 0.3s ease;
    height: 1.5rem;
}

.scroll-to-top:nth-child(2) img {
    /* filter: invert(100%) sepia(0%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%); */
    stroke-width: 2;
    transition: filter 0.3s ease;
    height: 1.5rem;
}

.scroll-to-top:hover img {
    filter: invert(32%) sepia(68%) saturate(585%) hue-rotate(238deg) brightness(93%) contrast(94%);
}

.scroll-to-top p {
    color: #ffffff;
    margin-top: 0;
    transition: color 0.3s ease;
}

.scroll-to-top:hover p {
    color: #8844a8;
}

#about {
    background-color: #421264;
    color: #cfcfcf;
    position: relative;
}

.about-title {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 900;
    font-size: 2.5rem;
    padding: 3% 10% 1%;
    color: #ffffff;
    text-decoration: solid underline #ffffff 6px;
    margin-top: 0;
}

.about-content {
    justify-content: space-between;
    padding: 0 13%;
    margin-bottom: -1%;
}

.columns {
    display: flex;
    flex-direction: row;
}

.about-column-left {
    flex: 1;
}

.about-me {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    padding: 0 0 13% 0;
}

.about-column-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.memoji {
    border-radius: 50%;
    filter: drop-shadow(0 0 1rem #cfcfcf);
    max-width: 20.3125rem;
    max-height: 20.3125rem;
    margin-top: 7%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10vh;
}

.skills {
    cursor: default;
}

.skills img {
    height: 3.4375rem;
    margin: 0 1.25rem;
    filter: invert(100%) sepia(0%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%);
    transition: filter 0.3s ease-in-out;
}

.skills img:hover {
    filter: invert(32%) sepia(68%) saturate(585%) hue-rotate(238deg) brightness(93%) contrast(94%);
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    position: absolute;
    bottom: -1.25rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.875rem;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    display: none;
    white-space: nowrap;
}

.tooltip:hover .tooltiptext {
    display: block;
    animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 0.625rem);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0px);
    }
}

#projects {
    background-color: #cfcfcf;
    color: #000000;
    position: relative;
    padding-bottom: 10vh;
}

.projects-title {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 900;
    font-size: 2.5rem;
    padding: 3% 10% 1%;
    text-decoration: solid underline #000000 6px;
    margin-top: 0;
}

.project-card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #dfdfdf;
    height: 25vh;
    width: 65%;
    border-radius: 20px;
    box-shadow: inset 11px 11px 22px #bebebe, inset -11px -11px 22px #ffffff;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 5rem auto;
    transform-origin: center;
    padding: 2rem;
}

.project-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 11px 11px 22px #bebebe, -6px -6px 12px #f5f5f5;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project-card:hover {
    transform: scale(1.02);
    box-shadow: none;
}

.project-card:hover::after {
    opacity: 1;
}

.project-card .project-text {
    flex: 1;
    padding-left: 2rem;
    justify-content: flex-start;
    width: 50%;
    margin: 1rem auto;
}

.project-image {
    flex: 1;
    max-width: 100%;
    /* Ensure the image does not exceed the container's width */
    max-height: 100%;
    /* Ensure the image does not exceed the container's height */
    object-fit: contain;
    border-radius: 10px;
    margin: auto;
    /* Center the image within its flex container */
}

#contact {
    min-height: 100vh;
    background-image: -moz-linear-gradient(#000, #fff);
    position: relative;
}

footer {
    background-color: #252525;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #cfcfcf;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-container {
    width: 100%;
    padding-top: 0.625rem;
    text-align: center;
    background: none;
}

.footer-container img {
    height: 5.3125rem;
    margin: 0;
}

.footer-dono {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0.625;
}

.payment-options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.payment-options a {
    display: block;
    margin: 0 0.4375rem;
}

.payment-options img {
    height: 2.5rem;
    border: none;
    background: none;
    filter: invert(100%) sepia(0%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%);
    transition: filter 0.3s ease-in-out;
}

.payment-options img:hover {
    filter: invert(32%) sepia(68%) saturate(585%) hue-rotate(238deg) brightness(93%) contrast(94%);
}

.footer-copy {
    cursor: default;
    text-align: center;
    color: #cfcfcf;
    margin-top: 0.625rem;
}



@media (max-width: 600px) {
    .navbar-container {
        flex-direction: column;
        text-align: center;
    }

    .nav-links a {
        margin: 2vw 0;
    }

    .landing-content h1 {
        font-size: 2rem;
    }

    .landing-content img {
        height: 10rem;
    }

    .socials img {
        height: 2.5rem;
    }

    .about-content {
        padding: 0 5%;
    }

    .columns {
        flex-direction: column;
    }

    .about-title {
        font-size: 2rem;
        padding: 2% 5%;
    }

    .about-me {
        font-size: 1rem;
        padding-bottom: 5%;
    }

    .memoji {
        max-width: 10rem;
        max-height: 10rem;
        margin: 2rem auto 5vh auto;
    }

    .row {
        padding-bottom: 10vh;
    }

    .skills img {
        height: 2rem;
        margin: 0 0.5rem;
    }

    .project-card {
        flex-direction: column;
        align-items: center;
        width: 95vw;
        height: fit-content;
        margin: 0.5rem auto;
    }

    .project-card .project-text {
        margin: 0 0 1rem 0;
        width: 90%;
        text-align: center;
    }

    .project-card .project-text h2 {
        padding-left: 0;
    }
    
    .project-card .project-text p {
        text-align: center;
        text-align: left;
    }

    .project-image {
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer-container img {
        height: 4rem;
    }

    .payment-options img {
        height: 2rem;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .about-content {
        padding: 0 10%;
    }

    .about-me {
        font-size: 1.125rem;
    }

    .columns {
        flex-direction: column;
    }
        
    .memoji {
        max-width: 15rem;
        max-height: 15rem;
        margin: -1rem auto 8vh auto;
    }

    .row {
        padding-bottom: 10vh;
    }

    .skills img {
        height: 2.5rem;
        margin: 0 1rem;
    }

    .project-card {
        flex-direction: column;
        align-items: center;
        width: 95vw;
        height: fit-content;
        margin: 0.5rem auto;
    }

    .project-card .project-text {
        margin: 0 0 1rem 0;
        width: 90%;
        text-align: center;
    }

    .project-card .project-text h2 {
        padding-left: 0;
    }

    .project-card .project-text p {
        text-align: center;
        text-align: left;
    }

    .project-image {
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer-container img {
        height: 4.5rem;
    }

    .payment-options img {
        height: 2.25rem;
    }
}

@media (min-width: 901px) {
    .about-content {
        flex-direction: row;
        padding: 0 13%;
    }

    .about-column-right {
        display: flex;
    }

    .memoji {
        max-width: 20.3125rem;
        max-height: 20.3125rem;
    }

    .skills img {
        height: 3.4375rem;
        margin: 0 1.25rem;
    }

    .footer-container img {
        height: 5.3125rem;
    }

    .payment-options img {
        height: 2.5rem;
    }
}